<% const version = `v0.9.7-2021.8-8.1024` %>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">lukasstaub.dev - Administration</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/cdn">Media</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownBlogs" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blogs</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownBlogs">
                        <li><a class="dropdown-item" href="/blogs">Blogposts</a></li>
                        <li><a class="dropdown-item" href="/blogs/new">Create Blogpost</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/blogs/categories">Categories</a></li>
                        <li><a class="dropdown-item" href="/blogs/categories/new">Create Category</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/blogs/comments">Comments</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownProjects" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownProjects">
                        <li><a class="dropdown-item" href="/projects">Projects</a></li>
                        <li><a class="dropdown-item" href="/projects/new">Create Project</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a href="/config" class="nav-link active">Website Config</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= user.name %> (<%= user.username %>)</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/user-settings">Settings</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><%= version %></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
